<footer>
    <nav>			
        <a href="https://github.com/cwarre11">GitHub Account</a> |
		<a href="https://cwarre11.github.io/">GitHub IO</a> |
		<a href="https://cwarre11.github.io/web215">GitHub Course</a> |
		<a href="https://www.freecodecamp.org/cwarre11">FreeCodeCamp</a> |
		<a href="https://www.codecademy.com/profiles/Fluffolophagus">Codecademy</a> |
		<a href="https://jsfiddle.net/user/cwarre11/fiddles/">JSFiddle</a> |
		<a href="https://www.linkedin.com/in/chloe-warren-3481541a0/">LinkedIn</a> 	
    </nav>
                
		<p>Designed by ChloeWar, Inc.</p>
    <a href = "https://validator.w3.org/check?uri=" id = "validation_link_html" class="htmlbutton">W3C HTML</a>&nbsp;&nbsp;
    <a href = "https://jigsaw.w3.org/css-validator/check/referer?uri=" id = "validation_link_css" class="cssbutton">W3C CSS</a>
    <script>
        document.getElementById("validation_link_html").setAttribute("href", "https://validator.w3.org/check?uri=" + location.href);
        document.getElementById("validation_link_css").setAttribute("href", "https://jigsaw.w3.org/css-validator/validator?uri=" + location.href);
    </script>
</footer>
