<header>
		<h1>Chloe's Crochet Creations</h1>
           		 <h3>Handcrafted without having to do it yourself!</h3>  
                                <h4>WEB215 and WEB250</h4>
				<div class="topnav">
					<a href="https://cwarre11.github.io/web250/">Home</a>
					<a href="https://cwarre11.github.io/web250/introduction.html">Introduction</a>
					<a href="https://cwarre11.github.io/web250/contract.html">Contract</a>
					<a href="https://cwarre11.github.io/web250/brand.html">Brand</a>
				</div>
	</header>
