body 
{
  margin: 30px;
  font-family: courier;
  background-color: #F0F8FF; 
  color: #808080;
}
h1, h2, h3 
{
	color: #808080;
	padding-top: 20px;
    padding-bottom: 20px;
	text-align: center;
}
h1 
{
		background-color: #E6E6FA;
}
main img 
{
	width: 25%;
	height: auto;
	text-align: center; 
}
figure 
{
	width: 100%;
	height: auto;
	text-align: center;
	margin: auto;
}
figcaption 
{
	font-style: italic;
	text-align: center;
}
footer 
{
	text-align: center;
}
footer img 
{
	width: 88px;
	height: auto;
}
th, td 
{
	border: 1px solid black;
}
th 
{
	font-weight: bold;
	font-size: 30px;
}
td 
{
	font-size: 20px;
}
table 
{
	border: 3px solid black;
	margin: auto;
	width: 70%;
}
address 
{
	text-align: center;
	font-weight: bold;
	font-size: 25px;
}
a:link 
{
  color: blue;
}

a:visited 
{
  color: purple;
}

a:hover 
{
  color: black;
}

.topnav 
{
	background-color: #E6E6FA;
	overflow: hidden;
}

.topnav a 
{
	float: left;
	color: #808080;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	}

.topnav a:hover 
{
	background-color: #E6E6FA;
	color: black;
}

.topnav a.active 
{
	background-color: #E6E6FA;
	color: black;
	font-weight: bold;
}
